
<%= form_with model: @party, url: campaign_parties_path do |form| %>
 
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@party.errors.count, "error") %> prohibited
        this party from being saved:
      </h2>
      <ul>
        <% @party.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<h5>Name your new party!</h5>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %><br>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>