<h3><%= @party.name %></h3>
  <h5>Number of Characters: <%= @party.characters.count %></h5>

  <% if @party.characters.count == 0 %>
    "Looks like you don't have any characters here yet..."
  <% else %>
    <p>Characters:</p>
      <% @party.characters.each do |char| %>
        <div> <%= link_to char.name, party_character_path(@party.id, char.id) %></div>
      <% end %>
  <% end %>
  <br>

<%= link_to 'Create New Character', new_party_character_path(@party, @character) %><br />

<%= link_to 'Delete', campaign_party_path(@campaign, @party), method: :delete, data: { confirm: 'Are you sure?', disable_with: "Working..." } %><br>