<h2>Dungeonmaster Information</h2>
Name: <%= @dungeonmaster.name %>
<br />
<h4>Campaigns</h4>
<% if @campaigns.empty? %>
	<p>You have no campaigns. Would you like to add a campaign?</p>
<% else %>
	<p>Select a campaign to edit or add a new campaign. The campaigns are listed from biggest to smallest party size.</p>
	<ul>
		<% @campaigns.biggest_to_smallest.each do |c| %>
			<li><%= link_to b.name, dungeonmaster_campaign_path(@dungeonmaster, c) %></li>
		<% end %>
	</ul>
<% end %>
<%= link_to 'Add Campaign', new_dungeonmaster_campaign_path(@dungeonmaster) %>
<br />
<%= link_to 'View Parties with three or more', parties_with_3_or_more_path(@dungeonmaster) %>
<%= link_to 'View all Dungeonmasters', all_path %>