
<%= form_with model: @character, url: party_characters_path do |form| %>
 
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@character.errors.count, "error") %> prohibited
        this character from being saved:
      </h2>
      <ul>
        <% @character.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %><br>
  </p>
 
  <p>
    <%= form.label :level %>
    <%= form.text_field :level %><br>
  </p>

  <p>
    <%= form.label :profession %>
    <%= form.text_field :profession %><br>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>