<h1>List of All Characters</h1>

<%= link_to 'New Character', new_character_path %>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="2"></th>
    </tr>
    
    <% @characters.each do |character| %>
        <tr>
            <td><%= character.first_name %></td>
            <td><%= character.last_name %></td>
            <td><%= link_to 'Show', character_path(character) %></td>
            <td><%= link_to 'Edit', edit_character_path(character) %></td>
        </tr>
    <% end %>
</table>