<p>
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p>
    <strong>Profession:</strong>
    <%= @character.profession %>
</p>

<p>
    <strong>Level:</strong>
    <%= @character.level %>
</p>

<%= link_to 'All Characters', party_characters_path %><br />

<%= link_to 'New Character', new_party_character_path %><br />

<%= link_to 'Edit Character', edit_party_character_path(@party, @character) %><br />

<%= link_to 'Delete', party_character_path(@party, @character), method: :delete, data: { confirm: 'Are you sure?', disable_with: "Working..." } %><br>