<br />
<%= form_for(@campaign) do |f| %>
<h4>Campaign Details</h4>
	<% @campaign.user_id = current_user.id %>

	<%= f.label :title %>
	<%= f.text_field :title %><br /><br />

	<%= f.label :description%>
	<%= f.text_field :description %><br /><br /><br />

	<h4>Starting Party:</h4>

	<%= f.fields_for :parties do |a| %>

		<%= a.label :name %>
		<%= a.text_field :name %><br /><br />

		<%= a.label :size%>
		<%= a.text_field :size %><br /><br /><br />

 	<% end %> 
    <%= f.submit %>
<% end %>