<h1>Edit Campaign</h1>

<br />
<%= form_with model: [@campaign], local: true do |f| %>

<h4>Campaign Details</h4>
	<% @campaign.user_id = current_user.id %>

	<%= f.label :title %>
	<%= f.text_field :title %><br /><br />

	<%= f.label :description%>
	<%= f.text_field :description %><br /><br /><br />

    <%= f.submit %>
<% end %>