<p>
    <strong>Title:</strong>
    <%= @campaign.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @campaign.description %>
</p>

<p>
    <strong>Setting:</strong>
    <%= @campaign.setting %>
</p>

<p>
    <strong>Dungeon Master:</strong>
    <%= @campaign.dungeonmaster %>
</p>

<%= link_to 'All Campaigns', campaigns_path %>

<%= link_to 'New Campaign', new_campaign_path %>

<%= link_to 'Edit Campaign', edit_campaign_path(@campaign) %>
