<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if @campaign.errors.any? %>
  <% @campaign.errors.full_messages.each do |error_message| %>
    Error: <%= error_message %> <br />
  <% end %>
<% end %>
<h2>Campaign Information</h2><br   />

<h4>Campaign Details</h4>
  <p><strong>Title:</strong> <%= @campaign.title %></p>
  <p><strong>Description:</strong> <%= @campaign.description %></p><br>

<h4>Campaign Party Information</h4>
 <table>
    <tr>
        <th>Title</th>
        <th>Size</th>
        <th colspan="2"></th>
    </tr>
    
    <% @campaign.parties.each do |party| %>
        <tr>
            <td><%= party.name %></td>
            <td><%= party.characters.count %></td>
            <td><%= link_to 'Show', campaign_party_path(@campaign, party) %></td>
            </td>
        </tr>
    <% end %>
</table>

<br>

<%= link_to 'All Campaigns', campaigns_path %><br>

<%= link_to 'New Campaign', new_campaign_path %><br>

<%= link_to 'Edit Campaign', edit_campaign_path(@campaign) %><br>

<%= link_to 'Delete', campaign_path(@campaign), method: :delete, data: { confirm: 'Are you sure?', disable_with: "Working..." } %><br>
